.detail__top {
  background-color: #1abc9c;
  padding: 0 20px; }

.detail__content {
  padding: 0 20px 55px; }

.detail__module {
  padding: 20px 0; }
  .detail__module:nth-child(n + 2) {
    border-top: 1px solid #E4E2E2; }

.detail__moduleTitle {
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 16px; }

.detail__overview {
  color: #333;
  font-size: 14px;
  line-height: 28px; }

.detail__buyBtn {
  position: fixed;
  height: 55px;
  width: 100%;
  line-height: 55px;
  color: #fff;
  text-align: center;
  bottom: 0;
  background-color: #2ecc71;
  text-decoration: none; }
