<!DOCTYPE html>

<html>
<head>
<title>Fluid 3-column layout (basic)</title>
<meta charset="utf-8" />
<link rel="stylesheet" type="text/css" href="style.css" media="screen" />
</head>
<body>
<div id="header">
  <h1>header</h1>
  <h3>fluid three-column layout (basic)</h3>
</div>
<!--//end #header//-->
<div id="leftColumn">
  <h2>leftColumn</h2>
  <ul>
    <li><a href="#">Home</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Gallery</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
  <p>Augur et fulgente decorus arcu Phoebus acceptusque novem Camenis, qui salutari levat arte fessos corporis artus, si Palatinas videt aequos aras remque Romanam Latiumque felix alterum in lustrum meliusque semper prorogat aevom, quaeque Aventinum tenet Algidumque, quindecim Diana preces virorum curat et votis puerorum amicas adplicat auris.</p>
</div>
<!--//end #leftColumn//-->
<div id="centerColumn">
  <h2>centerColumn</h2>
  <p>Augur et fulgente decorus arcu Phoebus acceptusque novem Camenis, qui salutari levat arte fessos corporis artus, si Palatinas videt aequos aras remque Romanam Latiumque felix alterum in lustrum meliusque semper prorogat aevom, quaeque Aventinum tenet Algidumque, quindecim Diana preces virorum curat et votis puerorum amicas adplicat auris.</p>
  <h2>Header 2</h2>
  <p><a href="#">Link Item</a></p>
  <ul>
    <li>List Item</li>
    <li>List Item</li>
    <li>List Item
      <ul>
        <li>List Item</li>
        <li>List Item</li>
      </ul>
    </li>
  </ul>
  <blockquote>
    <p><strong>blockquote</strong><br />
      Augur et fulgente decorus arcu Phoebus acceptusque novem Camenis, qui salutari levat arte fessos corporis artus.</p>
  </blockquote>
</div>
<!--//end #centerColumn//-->
<div id="rightColumn">
  <h2>rightColumn</h2>
  <p>Augur et fulgente decorus arcu Phoebus acceptusque novem Camenis, qui salutari levat arte fessos corporis artus, si Palatinas videt aequos aras remque Romanam Latiumque felix alterum in lustrum meliusque semper prorogat aevom, quaeque Aventinum tenet Algidumque, quindecim Diana preces virorum curat et votis puerorum amicas adplicat auris.</p>
  <div id="tags">
    <p><a target="_blank" href="http://validator.w3.org/" title="W3C HTML Validation">XHTML</a></p>
    <p><a target="_blank" href="http://jigsaw.w3.org/css-validator/validator-uri.html" title="W3C CSS Validation">CSS</a></p>
    <p><a target="_blank" href="http://www.w3.org/TR/WCAG10/" title="Web Content Accessibility Guidelines">WCAG</a></p>
    <p><a target="_blank" rel="nofollow" href="http://www.csstinderbox.com">The CSS Tinderbox</a></p>
  </div>
  <!--//end #tags//-->
</div>
<!--//end #rightColumn//-->
</body>
</html>
