<!DOCTYPE HTML>
<html>

<head>
  <title>Css Layout</title>
  <meta charset="utf-8" />
  <link rel="stylesheet" type="text/css" href="styles.css" />
</head>

<body>
  <div id="container">
    <div id="header">
      <h1><a href="#">CSS Layouts</a></h1>
    </div>
    <div id="wrapper">
      <div id="content">
        <p><strong>Lorem ipsum</strong></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque viverra ante id mattis pretium. Nam aliquam massa sagittis dapibus finibus. Vivamus id nisi vitae dolor vulputate iaculis non a elit. Ut quis mauris odio. Quisque nec nulla
          mauris. Nam ut imperdiet leo. Integer tempor tincidunt erat id consequat. Quisque eget lectus quis tortor tincidunt sagittis.</p>
        <p>Phasellus mauris risus, porttitor sit amet nibh sed, imperdiet blandit nulla. Praesent tempus est eu nisi condimentum suscipit. Curabitur a dui ut arcu dignissim gravida. Donec auctor orci vitae nunc aliquet varius. Aenean mollis a ante
          quis posuere. Ut venenatis, libero sit amet porta sagittis, urna justo lobortis risus, at venenatis nibh eros eu augue. Suspendisse nec tortor viverra ipsum luctus laoreet. Ut sagittis, ipsum id iaculis elementum, leo libero aliquam arcu,
          non dignissim justo ex eget mi. Etiam at hendrerit erat. Phasellus id purus quis nibh pellentesque ornare. Suspendisse sed nisl nibh. Vivamus aliquet dolor sed consequat auctor. Donec malesuada scelerisque nulla nec dictum. Vestibulum
          rutrum urna vitae tortor viverra volutpat. Praesent sem odio, vehicula eget sem ut, hendrerit molestie dui. Duis risus ipsum, commodo vel rhoncus gravida, feugiat a tellus.</p>
        <p>Praesent pellentesque suscipit augue condimentum pretium. Ut feugiat rhoncus mauris nec porttitor. Morbi varius nisi turpis, eu commodo sapien eleifend in. Suspendisse aliquam imperdiet fringilla. Mauris ac laoreet velit. Pellentesque
          efficitur pellentesque ante a ullamcorper. Sed iaculis mauris at augue aliquam suscipit. Suspendisse scelerisque ipsum sem, id sagittis dolor vulputate cursus. Fusce hendrerit dui pretium felis mattis, eu varius velit blandit. Pellentesque
          sagittis nisl sed malesuada viverra. Suspendisse sed eleifend lorem. Nunc convallis mattis velit, non dapibus diam elementum nec. Proin molestie efficitur elit, non lobortis erat cursus eu. Quisque tincidunt convallis mi ut volutpat.
          Praesent et dolor velit.</p>
      </div>
    </div>
    <div id="navigation">
      <p><strong>Navigation</strong></p>
      <ul>
        <li><a href="#">Nav</a></li>
        <li><a href="#">Nav</a></li>
        <li><a href="#">Nav</a></li>
        <li><a href="#">Nav</a></li>
        <li><a href="#">Nav</a></li>
        <li><a href="#">Nav</a></li>
        <li><a href="#">Nav</a></li>
      </ul>
    </div>
    <div id="extra">
      <p><strong>Sides</strong></p>
      <p>Aenean iaculis velit felis, at scelerisque lacus lobortis eu. Nullam vitae nulla a velit sagittis ultrices. Quisque nec purus in felis aliquam porta ac quis ipsum. Nulla suscipit imperdiet elit, eu egestas mauris porttitor nec. Pellentesque
        malesuada fermentum neque eu aliquet. Vestibulum pulvinar, quam id pretium elementum, ligula nibh bibendum neque, sit amet elementum ante nulla id nibh. Morbi cursus ante ultrices dolor viverra consequat. Morbi ligula augue, faucibus vel
        semper vel, fringilla volutpat erat. Quisque non massa pretium, porttitor augue sit amet, vulputate ligula. Ut vel iaculis nibh. Sed et congue erat.</p>
    </div>
    <div id="footer">
      <p>Footer</p>
    </div>
  </div>
</body>

</html>
