<!DOCTYPE html>

<html>
<head>
<title>菜单</title>
<meta charset="utf-8" />
<link rel="stylesheet" href="styles.css" type="text/css" />
</head>
<body>
<h1>Horizontal CSS Navigation Menu</h1>
<hr />
<div id="demo-container">
  <ul id="simple-menu">
    <li><a href="#" class="current"><span>CSS Templates</span></a></li>
    <li><a href="#"><span>CSS布局</span></a></li>
    <li><a href="#"><span>CSS Books</span></a></li>
    <li><a href="#"><span>CSS Menus</span></a></li>
    <li><a href="#"><span>CSS Tutorials</span></a></li>
    <li><a href="#"><span>CSS Reference</span></a></li>
    <li><a rel="nofollow" target="_blank" href="http://www.baidu.com" title="baidu.com"><span>BAIDU</span></a></li>
  </ul>
</div>
</body>
</html>
