<!DOCTYPE html>

<html>

<head>
  <title>Fixed 3-column over 4-column layout (basic)</title>
  <meta charset="utf-8" />
  <link rel="stylesheet" type="text/css" href="style.css" media="screen" />
</head>

<body>
  <div id="postHeader"> <a href="#">Links &#8250;&#8250;</a>&nbsp;&nbsp;<a href="#">Site Map &#8250;&#8250;</a>&nbsp;&nbsp;<a href="#">Contact &#8250;&#8250;</a> </div>
  <!--//end #postHeader//-->
  <div id="centerColumn">
    <div id="navbar">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Gallery</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
    <!--//end #navbar//-->
    <div id="header">
      <h1>site title</h1>
      <h2>fixed 3-column over 4-column layout</h2>
    </div>
    <!--//end #headern//-->
    <h2>centerColumn</h2>
    <h3>sub heading</h3>
    <p>Augur et fulgente decorus arcu Phoebus acceptusque novem Camenis, qui salutari levat arte fessos corporis artus, si Palatinas videt aequos aras remque Romanam Latiumque felix alterum in lustrum meliusque semper prorogat aevom, quaeque
      Aventinum tenet Algidumque, quindecim Diana preces virorum curat et votis puerorum amicas adplicat auris.</p>
    <hr />
    <div id="cell_1">
      <h2>cell_1</h2>
      <p class="news">Quindecim Diana preces virorum curat et votis puerorum amicas adplicat auris.</p>
      <ul class="news">
        <li class="news"><a href="#">Link</a><br />
          <em>Date<br />
            Puerorum amicas adplicat auris.</em></li>
        <li class="news"><a href="#">Link</a><br />
          <em>Date<br />
            Puerorum amicas adplicat auris.</em></li>
      </ul>
    </div>
    <!--//end #cell_1//-->
    <div id="cell_2">
      <h2>cell_2</h2>
      <p>Augur et fulgente decorus arcu Phoebus acceptusque novem Camenis, qui salutari levat arte fessos corporis artus, si Palatinas videt aequos aras remque.</p>
      <p>Romanam Latiumque felix alterum in lustrum meliusque semper prorogat aevom, quaeque Aventinum tenet Algidumque, quindecim Diana preces virorum curat et votis puerorum amicas adplicat auris.</p>
    </div>
    <!--//end #cell_2//-->
    <div id="cell_3">
      <h2>cell_3</h2>
      <p>Augur et fulgente decorus arcu Phoebus acceptusque novem Camenis, qui salutari levat arte fessos corporis artus, si Palatinas videt aequos aras remque.</p>
      <p>Romanam Latiumque felix alterum in lustrum meliusque semper prorogat aevom, quaeque Aventinum tenet Algidumque, quindecim Diana preces virorum curat et votis puerorum amicas adplicat auris.</p>
    </div>
    <!--//end #cell_3//-->
    <hr />
    <div id="box_1">
      <h2>box_1</h2>
      <p>Quindecim Diana preces virorum curat et votis puerorum amicas adplicat auris.</p>
      <ul>
        <li><a href="#">Link&#8230;</a></li>
      </ul>
    </div>
    <!--//end #box_1//-->
    <div id="box_2">
      <h2>box_2</h2>
      <p>Quindecim Diana preces virorum curat et votis puerorum amicas adplicat auris.</p>
      <ul>
        <li><a href="#">Link&#8230;</a></li>
      </ul>
    </div>
    <!--//end #box_2//-->
    <div id="box_3">
      <h2>box_3</h2>
      <p>Quindecim Diana preces virorum curat et votis puerorum amicas adplicat auris.</p>
      <ul>
        <li><a href="#">Link&#8230;</a></li>
      </ul>
    </div>
    <!--//end #box_3//-->
    <div id="box_4">
      <h2>box_4</h2>
      <p>Quindecim Diana preces virorum curat et votis puerorum amicas adplicat auris.</p>
      <ul>
        <li><a href="#">Link&#8230;</a></li>
      </ul>
    </div>
    <!--//end #box_4//-->
    <div id="footer"> Copyright, &copy; 2005-2006 <a href="#">Company Name</a> | <a target="_blank" rel="nofollow" href="http://www.csstinderbox.com">The CSS Tinderbox</a> </div>
    <!--//end #footer//-->
  </div>
  <!--//end #centerColumn//-->
</body>

</html>
