<!DOCTYPE html>

<html>

<head>
  <title>Fixed 1-column #2 layout (basic)</title>
  <meta charset="utf-8" />
  <link rel="stylesheet" type="text/css" href="reset.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="style.css" media="screen" />
</head>

<body>
  <div id="container">
    <div id="header">
      <h1>site title</h1>
      <h2>fixed 1-column #2 layout (basic)</h2>
    </div>
    <!--//end #headern//-->
    <div id="leftColumn">
      <h2>leftColumn</h2>
      <ul>
        <li><a href="#">Link Item</a></li>
        <li><a href="#">Link Item</a></li>
        <li><a href="#">Link Item</a></li>
      </ul>
      <p>Augur et fulgente decorus arcu Phoebus acceptusque novem Camenis, qui salutari
        levat arte fessos corporis artus.</p>
    </div>
    <!--//end #leftColumn//-->
    <div id="centerColumn">
      <h2>Aenean iaculis</h2>
      <p>Aenean iaculis velit felis, at scelerisque lacus lobortis eu. Nullam vitae nulla a velit sagittis ultrices. Quisque nec purus in felis aliquam porta ac quis ipsum. Nulla suscipit imperdiet elit, eu egestas mauris porttitor nec. Pellentesque malesuada fermentum neque eu aliquet. Vestibulum pulvinar, quam id pretium elementum, ligula nibh bibendum neque, sit amet elementum ante nulla id nibh. Morbi cursus ante ultrices dolor viverra consequat. Morbi ligula augue, faucibus vel semper vel, fringilla volutpat erat. Quisque non massa pretium, porttitor augue sit amet, vulputate ligula. Ut vel iaculis nibh. Sed et congue erat.</p>
      <h2>Header 2</h2>
      <p><a href="#">Link Item</a></p>
      <ul>
        <li>List Item</li>
        <li>List Item</li>
        <li>List Item
          <ul>
            <li>List Item</li>
            <li>List Item</li>
          </ul>
        </li>
      </ul>
      <blockquote>
        <p><strong>blockquote</strong><br />
          Augur et fulgente decorus arcu Phoebus acceptusque novem Camenis, qui salutari levat arte fessos corporis artus.</p>
      </blockquote>
    </div>
    <!--//end #centerColumn//-->
    <div id="footer"> <a target="_blank" href="http://validator.w3.org/" title="W3C HTML Validation">XHTML</a> | <a target="_blank" href="http://jigsaw.w3.org/css-validator/validator-uri.html" title="W3C CSS Validation">CSS</a> | <a target="_blank"
        href="http://www.w3.org/TR/WCAG10/" title="Web Content Accessibility Guidelines">WCAG</a>
      </p>
    </div>
    <!--//end #footer//-->
  </div>
  <!--//end #container//-->
</body>

</html>
