.collapsibleText {
  position: relative;
  line-height: 28px;
  font-size: 14px;
  &--collapse {
    //max-height: 84px;
    overflow: hidden;
  }

  &__label {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #6A9ADA;
    padding: 0 6px 0 20px;
    background: linear-gradient(90deg, hsla(0, 0%, 100, 0%), #fff, #fff, #fff);
  }
}
