<!DOCTYPE html>
<html>
<head>
<title>2 Column - fw-20-2-col</title>
<meta charset="utf-8" />
<link rel="stylesheet" type="text/css" href="styles.css" />
</head>
<body>
<!-- Begin Wrapper -->
<div id="wrapper">
  <!-- Begin Header -->
  <div id="header"><h1><a href="#">CSS Layouts</a></h1></div>
  <!-- End Header -->
  <!-- Begin Navigation -->
  <div id="navigation"> Navigation Here </div>
  <!-- End Navigation -->
  <!-- Begin Left Column -->
  <div id="leftcolumn"> Left Column </div>
  <!-- End Left Column -->
  <!-- Begin Right Column -->
  <div id="rightcolumn"> Right Column </div>
  <!-- End Right Column -->
 </div>
<!-- End Wrapper -->
</body>
</html>
