body {
    background-color: #333;
    color: white;
}

.navbar {
    border-bottom: #16a085 3px solid;
    opacity: .9;
}

.logo {
  color: #16a085;
}

.service {
  width: 280px;
}

.product {
  width: 330px;
}

#home-section {
    background: url('img/bridge.jpg') no-repeat;
    min-height: 100vh;
    background-size: cover;
    background-attachment: fixed;
}

.dark-overlay {
    background-color: rgba(0, 0, 0, .7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 100%;
    height: 100%;
    min-height: 100%;
}

.home-inner {
    padding: 150px;
}

@media (max-width: 992px){
    .home-inner {
        padding-top: 100px;
    }
}
