@import "../../util";

.user {
  background-color: #fff;

  &__top {
    background-color: #16a085;
    color: #fff;
    padding: 10px 20px 30px;
  }

  &__info {
    display: flex;
  }

  &__avatar {
    width: 70px;
    height: 70px;
    background-color: #ccc;
    margin-right: 20px;
    border-radius: 50%;
    background-size: cover;
  }

  &__detail {
    flex: 1;
    overflow: hidden;
  }

  &__name {
    font-size: 20px;
    line-height: 28px;

    @include line-ellipsis();
  }

  &__fellow,
  &__fans {
    margin-top: 10px;
    font-size: 12px;
  }

  &__level {
    padding: 0 8px;
    margin-top: 8px;
    font-size: 12px;
    line-height: 16px;
    background-color: #5A5E78;
    border-radius: 8px;
    width: 50px;
    text-align: center;
  }

  &__content {
    padding: 0 20px;
  }
}
