.top-bar {
  display: flex;
  align-items: center;
  padding: 4px 20px;

  &__city {
    color: #000;
    font-size: 14px;

    &::after {
      content: '';
      display: inline-block;
      margin-left: 6px;
      top: 10px;
      width: 0;
      height: 0;
      border-width: 4px;
      border-style: solid;
      border-color: #000 transparent transparent;
    }
  }

  &__search {
    flex: 1;
    height: 28px;
    background-color: #f6f5f5;
    border-radius: 14px;
    margin: 0 14px;
  }

  &__scan {
    width: 20px;
    height: 20px;
    background: url("../../../static/icons/scan.svg") 50% / contain no-repeat;
  }
}
